<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="fulvia enobaria">
        <div class="container">
          <div class="section-title">
            <h2>Distrikt Erde</h2>
            <p>
              Er·de
              <br />
              /Érde/ <br />
              Substantiv, feminin [die]
            </p>
            <ol>
              <li>
                aus verwittertem Gestein, organischen Stoffen und Mineralien
                bestehendes, feinkörniges Gemisch, das einen Teil der
                Erdoberfläche bildet und die Grundlage des Pflanzenwachstums
                darstellt; Erdboden, Erdreich "fruchtbare, lockere, feuchte,
                sandige Erde"
              </li>
              <li>
                Chemie <br />
                bestimmtes Metalloxid<br />
                "seltene, alkalische Erden"
              </li>
            </ol>
            <h2>Element Erde – Steht für die Kräfte des Lebens</h2>
            <p>
              Die Erde ist das wohl wichtigste Element, denn sie ist feste Basis
              aller Dinge. Während die Elemente Feuer, Wasser und Luft quasi
              nicht greifbar sind, verkörpert das Element Erde das Greifbare,
              das Auskristallisierte und das Stabile. Die Erde gibt uns Halt,
              Stabilität und Sicherheit denn dank ihr haben wir „festen Boden
              unter den Füßen“. Sicher kennst Du auch das Gefühl, dass einfach
              alles zu viel wird und Du „den Boden unter den Füßen verlierst“?
              <br /><br />

              Das Element Erde ist geradezu alltäglich denn wir erfahren es
              durch den Planeten auf dem wir leben. Mit einem Durchmesser von
              12.700 Kilometern und einem Alter von etwa 4,6 Milliarden Jahren
              ist unser Planet der dichteste, fünftgrößte und der Sonne
              drittnächster Planet unseres Sonnensystems.
              <br /><br />

              Die Erde offenbart sich uns jeden Tag und überall. Sie zeigt sich
              uns in der Gestalt von Wäldern und Feldern, von sanften Hügeln und
              steilen Klippen, von hohen Bergkämmen und tiefen Schluchten, von
              kalten Höhlen und dunklen Gräbern. Vielleicht ist es gerade diese
              Alltäglichkeit die uns die Erde so leicht vergessen lässt.
              <br /><br />

              Wir Menschen leben in Häusern die ein festes Fundament in der Erde
              trägt. Und auch Bäume können sich nur aufgrund ihrer starken
              Wurzeln in die Höhe strecken. Neben dem Aspekt der Stabilität
              liegt die Kraft der Erde auch im Wachstum und in der
              <br /><br />

              Fülle. Sie steht für das Leben in all seinen Formen und Farben
              sowie für die uneingeschränkte Liebe zum Leben und zur Natur
              <br /><br />
              Die Erdzeichen sind realistisch und auf dem Boden der Tatsachen,
              eben geerdet. Beharrlichkeit zählt ebenso zum Element der Erde wie
              Disziplin. Ihr praktisches Handeln kann bei Erdzeichen auch in
              strenge und Konservatismus umschlagen. Die fassbare, materielle
              Welt ist ihr Zuhause, und so steht das Element Erde auch für
              Zuverlässigkeit, ob im Beruf oder bei zwischenmenschlichen
              Beziehungen.
            </p>
          </div>
        </div>
      </section>
      <!-- End content Section -->

      <!-- ======= mentor Section ======= -->
      <section class="mentor enobaria-mentor">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_Buana.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-3">Mentor: Buana</h5>
                <p class="card-title mt-3 text-center">
                  Buana, Sternzeichen Jungfrau, 12.09.2049, Beruf: Mais-Bäuerin,
                  Hobby: weiss die genaue Anzahl Gräser auf ihren Feldern,
                  sammelt gerne Steine, reitet gerne auf einer Kuh"
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End mentor Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
