<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="fulvia">
        <div class="container">
          <div class="section-title">
            <h2>Distrikt Feuer</h2>
            <p>
              Feu·er <br />
              /Feúer/ <br />
              Substantiv, Neutrum [das]
            </p>
            <ol>
              <li>
                [ohne Plural] Form der Verbrennung mit Flammenbildung, bei der
                Licht und Wärme entstehen "Feuer, Wasser, Luft und Erde (die
                vier Elemente der antiken Wissenschaft)"
              </li>
              <li>
                vom Menschen kontrolliertes Feuer (1) als Energiespender "ein
                helles, offenes Feuer"
              </li>
            </ol>
            <h2>Element Feuer – Energie, Wärme und Erneuerung</h2>
            <p>
              Schließlich steht das Feuer für Energie und Selbstvertrauen,
              Beweglichkeit und Eigenständigkeit. Ein Fehlen des Element Feuers
              im Horoskop kann zu Phlegma und Rückzug führen.
              <br /><br />

              Feuer ist das einzige der vier Elemente, das nicht aus sich allein
              existieren kann. Es braucht Nahrung und Luft, um überhaupt brennen
              zu können. Wenn seine Nahrung zu Ende ist, dann erlischt es.
              <br /><br />

              Das Element Feuer steht für Kraft im weitesten Sinne, ob
              körperlich, emotional, mental oder spirituell. Es ist die
              Willensstärke die uns unser Ziel erreichen lässt. Dieses Element
              lehrt uns positiv in die Zukunft zu blicken, mit Mut und
              Optimismus der Welt zu begegnen und aktiv das eigene Schicksal in
              die Hand zunehmen. Es steht auch für die Kraft uns zu schützen und
              zu verteidigen. Feuer steht für Aktivität, Temperament, Bewegung,
              Eigenständigkeit, Selbstbewusstsein, Gesundheit und Vitalität,
              inneres Feuer, Leidenschaft und Feuer und Flamme für etwas oder
              jemand sein. Träume bleiben keine Schwärmerei, sondern wird
              Schritt für Schritt in die Tat umgesetzt. Nur wer bereit ist alles
              zu opfern ist auch in der Lage alles zu erhalten. Frei nach dem
              Motto “No risk no fun”.
              <br /><br />

              Menschen mit einer ausgewogenen Feuerenergie gelten als
              Schöpfernaturen mit innovativen Fähigkeiten. Ihr Antrieb ist die
              Neugier und das innere Feuer das in ihnen brennt verleiht magische
              Anziehungskräfte. Sie haben ein großes Talent darin andere zu
              motivieren und zu begeistern. Die Anwesenheit von Feuer erkennt
              man an einem lebendigen Leuchten in den Augen.
              <br /><br />

              Feuerzeichen sind mutig und impulsiv, die Leidenschaft lodert
              wortwörtlich hoch. Feuerzeichen sind schnell zu begeistern und
              haben häufig gute Laune. Wie das Feuer, können auch sie
              beherrschend sein, und persönliche Freiheit ist ihnen sehr
              wichtig. Das Feuer nimmt sich den Raum, den es will und ist schwer
              zu bändigen. Willenskraft ist die Voraussetzung für
              Führungspersönlichkeiten, von denen man viele unter den
              Feuerzeichen findet.
              <br /><br />
            </p>
          </div>
        </div>
      </section>
      <!-- End content Section -->

      <!-- ======= Mentor Section ======= -->
      <section class="mentor fulvia-mentor">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_Aden.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-3">Mentor: Aden</h5>
                <p class="card-title mt-3 text-center">
                  Aden, Sternzeichen Schütze, 24.11.2048, Beruf Waffen-Schmied,
                  Hobby: spielt gerne mit dem Feuer, ist Feuer und Flamme für
                  Poulet-Spiessli, klettert gerne auf Vulkane,
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End mentor Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
