<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <!-- ======= Hero Section ======= -->
    {{ partial "hero.html" . }}
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Zur Geschichte: Section ======= -->
      <section id="who-am-i" class="who-am-i">
        <div class="container">
          <div class="section-title">
            <h2>Malum</h2>
            <p>
              Malum, 1930 erschaffen, war einst ein gutmütiges und wunderschönes
              Land mit vielen Gewässern, gewaltigem Gebirge, atemberaubenden
              Landschaften und unermüdlichem Volk. Die Unbeschwertheit des
              Landes hielt jedoch nicht lange an. 1973 ereigneten sich viele
              Naturkatastrophen in Malum. Infolge des Klimawandels wurde das
              Land vollkommen zerstört. Unzählige Tsunamis, Waldbrände, Tornados
              und Erdbeben hatten das Land in Schutt und Asche gelegt. Die
              Natur, welche dem Volk einst alles geboten hatte um das Land zu
              erbauen, nahm den Leuten alles was sie besassen. Das Volk war
              gezwungen ein Kapitol zu errichten, um das Land wieder aufzubauen.
              Es hat einstimmig drei Herrscher auserwählt, die Malum
              wiederaufrichten und darüber herrschen sollten. Das Kapitol
              erkannte, dass es auf lange Sicht besser ist die Elemente zu
              kontrollieren. Um so zukünftig Naturkatastrophen vorzubeugen. Das
              Land wurde von nun an vom Kapitol regiert und in Vier verschiedene
              Distrikte aufgeteilt. Die Distrikte leiteten sich von den vier
              Elementen ab, Feuer, Wasser, Luft und Erde. Jeder Bewohner wurde
              einem der vier Elemente zugeteilt.
              <br /><br />

              Somit wollte das Kapitol den Ressourcenumlauf kontrollieren. Der
              vollständige Wiederaufbau des Landes dauerte 10 Jahre. Um den
              Ressourcenkreislauf nicht zu unterbrechen, müssen die vier
              Distrikte ihre hergestellten Güter dem Kapitol ausliefern. Das
              Kapitol teilt so die Güter fair auf die Distrikte auf. Das Volk
              arbeitete hart und fleissig. Das Kapitol möchte diejenigen
              belohnen, welche sich besonders für den Ertrag des Landes
              einsetzen. Folge dessen rief die Regierung welche für den
              alljährlichen «Kampf der Elemente» ins Leben. Am «Kampf der
              Elemente» dürfen jeweils zwischen 15-20 Personen eines Distrikts
              teilnehmen. Die Tribute werden durch die Organisatoren der Spiele
              auserwählt. Dadurch erhalten die ehrgeizigsten Bewohner die Chance
              für ihren Distrikt zu gewinnen. Das Distrikt, aus welchem die
              Gewinner stammen, erhält ein Jahr lang alle Ressourcen um sonst!!!
              <br /><br />
            </p>
          </div>
          <div class="btn">
            <a href=""
              >Jetzt für die Hungergames anmelden!
              <i class="bi bi-arrow-right-circle"></i
            ></a>
          </div>
        </div>
      </section>
      <!-- End Zur Geschichte: Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
