<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Kapitol</h2>
            <p>
              Das Element Feuer steht für Kraft im weitesten Sinne, ob
              körperlich, emotional, mental oder spirituell. Es ist die
              Willensstärke die uns unser Ziel erreichen lässt. Dieses Element
              lehrt uns positiv in die Zukunft zu blicken, mit Mut und
              Optimismus der Welt zu begegnen und aktiv das eigene Schicksal in
              die Hand zunehmen.
              <br /><br /><br />
            </p>
            <h2>Die Spielemacher:</h2>
          </div>
        </div>
      </section>
      <!-- End content Section -->

      <!-- ======= Mentor Section ======= -->
      <section class="mentor kapitol-mentor">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-4 mt-4">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_Buana.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-4">Mentor:Buana</h5>
              </div>
            </div>

            <div class="col-md-4 mt-4">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_Bilal.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-4">Mentor: Bilal</h5>
              </div>
            </div>

            <div class="col-md-4 mt-4">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_vayu.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-4">Mentor: Vayu</h5>
              </div>
            </div>

            <div class="col-md-4 mt-4">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_Aden.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-4">Mentor: Aden</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Mentor Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
