<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="fulvia portia">
        <div class="container">
          <div class="section-title">
            <h2>Distrikt Luft</h2>
            <p>
              Luft
              <br />
              /Lúft/ <br />
              Substantiv, feminin [die]
            </p>
            <ol>
              <li>
                [ohne Plural] (die Erde umgebender) hauptsächlich aus Stickstoff
                und Sauerstoff bestehender gasförmiger Stoff, den Mensch und
                Tier zum Atmen brauchen "dünne, feuchte Luft"
              </li>
              <li>
                [ohne Plural] <br />
                Atemluft
                <br />
                "schlechte, verbrauchte, stickige Luft"
              </li>
            </ol>
            <h2>Element Luft – Unsichtbar und dennoch wirkungsvoll</h2>
            <p>
              Sicher ist Luft allein zum Leben zu wenig – doch ohne Luft geht es
              definitiv nicht. Weder spirituell noch wissenschaftlich. Denn zum
              einen bildet das ausbalancierte Zusammenspiel der Elemente und
              ihrer unterschiedlichen Eigenschaften die Basis allen Seins.
              Selbst der griechische Philosoph Anaximenes von Milet, der Luft
              als Urstoff allen Seins sah, räumt die Bedeutung und Wichtigkeit
              der anderen Elemente in seinen Betrachtungen mit ein. So
              entstanden in seiner Gedankenwelt die Elemente Erde (Gestein),
              Feuer und Wasser aus der Luft. Zum anderen ist die Luft als
              Atemluft eine unabdingbare Grundlage des biologischen Lebens.
              <br /><br />

              Die Luft hilft Dir in chaotischen Situationen einen kühlen Kopf zu
              bewahren und den Überblick zu behalten. Das ermöglicht schnelles
              Handeln und klare Entscheidungen. Es ist die Fähigkeit,
              Situationen rational in ihre Aspekte aufzuteilen und jeden Aspekt
              einzeln zu prüfen. Wer das Luftelement auf ausgewogene Weise lebt,
              hat einen klaren, scharfen und schnellen Verstand mit der
              Fähigkeit, logische Zusammenhänge leicht zu erkennen. Diese
              Menschen arbeiten gerne mit ihrer Vorstellungskraft und versuchen
              für alles eine Erklärung zu finden. Auch Kreativität und
              Ideenreichtum sind charakteristische Luft-Eigenschaften. Dazu
              gehört auch das Schreiben, die Kunst, die Intuition, die Sprache,
              die Musik und das Vermitteln von Wissen ebenso wie das Lernen
              <br /><br />

              Luft ist nicht nur das Element des Intellekts und des Geistes,
              sondern auch der Leichtigkeit. Luftmenschen sind sehr offen und
              lieben spontane Ideen und neue Erfahrungen. “Er ist ein rechter
              Luftikus” sagt man zu Menschen die sich nicht festlegen wollen und
              nichts allzu ernst nehmen. Luftig und leicht, das trifft wohl auf
              solch eine Person zu. Genau diese Beweglichkeit zeichnet
              Luft-Menschen aus und zeigt sich in ihrer Anpassungsfähigkeit und
              dem Suchen nach neuem Wissen, Ideen, Informationen und
              intellektuellen Aufgaben.
              <br /><br />

              Luftmenschen reden gern und haben ein ausgeprägtes Bedürfnis nach
              Beziehungen und Geselligkeit. Es fällt ihnen sehr leicht mit
              Menschen anzufreunden und sie können gut auf andere einwirken
              indem sie ihre Ideen zur Weiterverarbeitung anbieten.
              <br /><br />

              So Ungreifbar wie die Luft, ist auch ihr Wesen auf das Mentale,
              nicht fassbare ausgerichtet. Um dies dennoch begreifen zu können,
              neigen die Luftzeichen zu Beschreibungen, sie sind sehr
              kommunikationsbegabt. Luftzeichen sind in Bewegung und daher
              gesellig und auch reiselustig. Gedanken und ihr Ausdruck sind
              wichtiger Bestandteil des Lebens Luftgeborener, die mental und
              intellektuell geprägten Luftzeichen sind daher in sozialen, aber
              auch künstlerischen Berufen zuhause.
              <br /><br />
            </p>
          </div>
        </div>
      </section>
      <!-- End content Section -->

      <!-- =======mentor Section ======= -->
      <section class="mentor portia-mentor">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_vayu.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-3">Mentor: Vayu</h5>
                <p class="card-title mt-3 text-center">
                  Vayu, Sternzeichen Wassermann, 06.02.2051, Beruf:
                  Windrad-Mechanikerin, Hobby: trinkt gerne Luft, tanzt gerne im
                  Wind, Reiseziel Windisch
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End mentor Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
