<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="fulvia venia">
        <div class="container">
          <div class="section-title">
            <h2>Distrikt Wasser</h2>
            <p>
              Was·ser
              <br />
              /Wásser/ <br />
              Substantiv, Neutrum [das]
            </p>
            <ol>
              <li>
                ([hauptsächlich] aus einer Wasserstoff-Sauerstoff-Verbindung
                bestehende) durchsichtige, weitgehend farb-, geruch- und
                geschmacklose Flüssigkeit, die bei 0 °C gefriert und bei 100 °C
                siedet "klares, sauberes, frisches, abgestandenes, kaltes,
                lauwarmes, schmutziges, gechlortes, trübes, kalkhaltiges,
                hartes, weiches, enthärtetes Wasser"
              </li>
              <li>
                Wasser (1a) eines Gewässers; ein Gewässer bildendes Wasser (1a)
                <br />
                "auflaufendes, ablaufendes Wasser"
              </li>
            </ol>
            <h2>Element Wasser – Das unentbehrlic he Lebenselixier</h2>
            <p>
              Das Element Wasser vereint sowohl Ruhe als auch Bewegung in sich:
              Indem es fließt, verändert es ständig seine Form und bleibt nie
              lange am selben Ort. Zugleich gilt es aber auch als ruhig und
              beständig – das wird vor allem klar, wenn man an stille Seen
              denkt. Im Bild des Meeres spiegelt sich beides wider: Bewegung,
              Kraft und Beständigkeit kommen hier klar zum Ausdruck.
              <br /><br />

              Fehlende Stabilität kann in diesem Zusammenhang positiv gedeutet
              werden, nämlich im Sinne von Anpassungsfähigkeit und
              Entwicklungspotenzial. Sie kann aber auch negative Aspekte haben,
              beispielsweise Unbeständigkeit und Unsicherheit.
              <br /><br />

              Die unergründliche Tiefe vieler Gewässer trägt ebenfalls zur
              Symbolik des Elements bei: Sie steht für Tiefgründigkeit,
              Geheimnisse und starke Emotionalität. Auch Ehrlichkeit und
              Weisheit sind Eigenschaften, die dem Wasser zugeordnet werden. Da
              man mit Wasser Schmutz abwaschen und Dinge wie neu erscheinen
              lassen kann, steht es außerdem für Unschuld und Reinheit. Den
              Wasserzeichen werden tiefe Emotionalität, ein grosses
              Einfühlungsvermögen und Sensibilität zugewiesen. So tief wie das
              Wasser kann auch die Seele sein, ihre unergründlichen Tiefen (und
              auch die der Seelen anderer) sind Thema für Wasser-Geborene.
              Wasserzeichen verstehen und handeln intuitiv, laufen dabei aber
              auch Gefahr, verloren zu gehen, es fehlt ihnen an der notwendigen
              Erdung.
              <br /><br />
            </p>
          </div>
        </div>
      </section>
      <!-- End content Section -->

      <!-- ======= Mentor Section ======= -->
      <section class="mentor venia-mentor">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
              <div class="mentor-card">
                <img
                  src="/assets/img/anonym_Mentor_Bilal.jpg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-3">Mentor: Bilal</h5>
                <p class="card-title mt-3 text-center">
                  Bilal, Sternzeichen: Fisch, 15.03.2051, Beruf: Schiffbauer,
                  Hobby: springt gerne in Pfützen, mag es meer salzig, trinkt
                  gerne Ankerbier mit Fischers Fritz,
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Mentor Section -->
    </main>
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
