<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <a href="/"><img src="/assets/img/logo.png" alt="" class="img-fluid rounded-circle" /></a>
    </div>

    <nav id="navbar" class="nav-menu navbar text-center">
      {{ $currentPage := . }}
      <ul>
        {{ range .Site.Menus.nav }}
        <li>
          <a href="{{ .URL }}" class="nav-link scrollto {{ if $currentPage.IsMenuCurrent "nav" . }}active{{ end }} ">
            <span>{{ .Name }}</span></a
          >
        </li>
        {{end}}
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
